    @import "//cdn.jsdelivr.net/npm/font-kopub@1.0";

    /* 공통 CSS */
    html, body{
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        font-family: "Space Grotesk", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        cursor: crosshair;
        /* overflow-x: hidden; */
    }

    * {
        box-sizing: border-box;
    }

    #wrap{
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    #main{
        flex: 1;
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: rgb(243, 243, 243);
    }

    #mainpage-wrap{
        flex: 1;
        margin-top: 150px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: rgb(255, 255, 255);
    }

    .video-container video{
        width: 100%;
    }

    a{
        text-decoration: none;
        color: black;
    }

    /* 공통 CSS _ 헤더 영역 */

    #header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 999;
        padding-top: 10px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    #header.scrolled{
        background-color: rgb(0, 0, 0);
        transition: background-color 1s ease-in;
    }

    #header.scrolled .header-title a,
    #header.scrolled .header-nav a {
    color: white;
    }

    .header-title{
        font-size: 2.5rem;
        font-weight: 900;
        display: inline-block;
        margin-left: 40px;
    }

    .header-title p{
        margin: 0;
        font-weight: 900;
        transition: font-weight 0.5s ease, color 0.5s ease;
    }

    .header-title p:hover{
        font-weight: 100;
    }

    .header-nav{
        display: inline-block;
        margin-right: 40px;
    }

    .header-nav ul{
        list-style-type: none;
        padding: 0;
    }

    .header-nav li{
        float: left;
        margin-left: 40px;
    }

    .header-nav a{
        font-size: 1.25rem;
        font-weight: 300;
        color: black;
        text-decoration: none;
        transition: font-weight 0.5s ease, color 0.5s ease;
    }

    .header-nav a:hover{
        font-weight: 900;
    }


    /* 공통 CSS _ footer 영역 */

    #footer{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #footer p{
        margin: 0;
    }

    .footer-nameTag{
        display: flex;
        justify-content: space-between;
    }

    .footer-subTag{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;  
        margin-top: 10px; 
        font-weight: 300;
        font-size: 1rem;
    }

    .footer-subTag p{
        margin-top: 10px;
    }

    .footer-nameTag p{
        padding: 30px;
        font-weight: 900;
        transition: font-weight 0.5s ease, color 0.5s ease;
    }

    /* 권호준 CSS */

    #carabiner-banner{
        width: 100%;
        margin-top: 150px;
    }

    #carabiner-banner img{
        max-width: 100%;
        height: auto;
    }

    .article-main{
        display: grid;
        grid-template-columns: 50% 1fr;
        column-gap: 40px;
        row-gap: 80px;
        font-family: "KoPub Dotum" ,sans-serif;
        margin-left: 40px;
        margin-right: 40px;
        font-weight: 900;
        font-size: 1.25rem;
        line-height: 160%;
    }

    #main::selection{
        background-color: rgb(229, 42, 42);
        color: white;
    }

    .article-main p{
        margin: 0;
    }

    .article-griditem img{
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
    }

    .article-griditem p {
        display: inline-block;
        border: 2px dashed black;
        padding: 10px;
}

    .article-main-2{
        margin: 200px 40px 0 40px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        font-family: "KoPub Dotum" ,sans-serif;
        font-weight: 900;
        font-size: 1.25rem;
        line-height: 160%;
    }

    .article-main-2 img{
        width: 30%;
    }

    .article-main-2 p{
        width: 30%;
        border: 2px dashed black;
        padding: 10px;
    }

        .article-main-3{
        margin: 200px 40px 0 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 40px 50px;
        align-items: center;
        font-family: "KoPub Dotum" ,sans-serif;
        font-weight: 900;
        font-size: 1.25rem;
        line-height: 160%;
        padding: 10px;
    }

    .article-main-3 p{
        padding: 10px;
        border: 2px dashed black;
    }

    .grid-text, .grid-image{
        flex: 1 1 calc(30% - 50px);
        box-sizing: border-box;
        min-width: 200px;
        text-align: center;
        padding: 10px;
    }

    .grid-image{
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }

    .article-main-4{
        margin: 200px 40px 0 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 40px;
        align-items: center;
        font-family: "KoPub Dotum" ,sans-serif;
        font-weight: 900;
        font-size: 1.25rem;
        line-height: 160%;
    }

    .lastgrid img{
        width: 100%;
    }

    .article-main-4 p{
        border: 2px dashed black;
        padding: 10px;
    }

    /* video태그 */

    

/* Carabiner @media */

@media all and (min-width:768px) and (max-width:1304px){
    .article-main , .article-main-2, .article-main-4 {
        display: flex;
        flex-direction: column;
        font-family: "KoPub Dotum" ,sans-serif;
        font-weight: 700;
        font-size: 1rem;
        line-height: 160%;
    }

    .article-griditem img{
        margin: 0 auto;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .article-griditem p {
        border: 2px dashed black;
        padding: 10px;
        margin-right: 0;
}

    .article-main-2 p {
    width: 100%;
    border: 2px dashed black;
    padding: 10px;
}

    .article-main-3{
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    html, body {
        /* overflow-x: hidden; */
    }

    * {
        box-sizing: border-box;
    }

    .article-main, .article-main-2, .article-main-4 {
        display: flex;
        flex-direction: column;
        font-family: "KoPub Dotum", sans-serif;
        font-weight: 700;
        font-size: 1rem;
        line-height: 180%;
        padding: 0 20px;
    }

    .article-griditem img,
    .article-main-2 img,
    .grid-image img,
    .lastgrid img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .article-main-2 p,
    .article-griditem p,
    .article-main-3 p,
    .article-main-4 p {
        width: 100%;
        border: 2px dashed black;
        padding: 10px;
    }

    #footer{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .footer-nameTag{
        display: flex;
        flex-direction: column;
    }
    
    .footer-nameTag p {
        text-align: center;
        padding: 10px;
        font-weight: 500;
        transition: font-weight 0.5s ease, color 0.5s ease;
    }

    .footer-subTag{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;  
        margin-top: 30px; 
        font-weight: 300;
        font-size: 0.8rem;
    }

    #header {
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    background-color: white;
    /* z-index: 999; */
    position: absolute;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
    .header-title{
        font-size: 2rem;
        font-weight: 900;
        display: inline-block;
        margin-left: 0px;
        
    }

    .header-nav{
        display: flex;
        flex-direction: column;
        margin: 0;
        
    }

    .header-nav li {
        float: left;
        margin-left: 6px;
        margin-right: 6px;
}

    .header-nav a {
        font-size: 1rem;
        font-weight: 300;
        color: black;
        text-decoration: none;
        transition: font-weight 0.5s ease, color 0.5s ease;
}   
}
