@import "//cdn.jsdelivr.net/npm/font-kopub@1.0";

/* 본인의 이름을 작성한 다음 자신의 주석 아래 부분에 CSS 코드를 작성해주세요. */

/* 임세은 css */

.wallet-top{
    margin-top: 100px;
}

.wallet-top-title p{
    font-size: 15rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    border-bottom: 8px black solid;
    line-height: 0.95;
}

.wallet-top-sub{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.wallet-top-sub p{
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
    
}

.wallet-main{
    margin-top: 50px;
}
.wallet-thumbnail{
    margin-top: 50px;
}
.wallet-thumbnail img{
    width: 100%;
}


.wallet-layout-1{
    width: 100%;
    display: flex;
    margin-top: 300px;
    font-family: 'KoPub Dotum', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 160%;
    column-gap: 25px;
    aspect-ratio: 7 / 3; /* 원하는 비율로 */
    width: 100%;
    background: #ffffff;
    position: relative;
    overflow: hidden;
}


.wallet-layout-1 img{
    width: 50%;
}

.wallet-layout-1 p{
    margin: 0;
    width: 50%;
    flex: 1 1 auto;
    overflow-y: auto;
    background: #ffffff;
    font-size: 1.25rem;
    line-height: 1.4;
}

.wallet-layout-2{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3, 1fr);
    margin-top: 300px;
    font-family: 'KoPub Dotum', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 160%;
    column-gap: 25px;
    row-gap: 25px;
    aspect-ratio: 7 / 3; /* 원하는 비율로 */
    width: 100%;
    background: #ffffff;
    position: relative;
    overflow: hidden;
}

.wallet-layout-2 img{
    width: 100%;
    height: 100%;
}

.wallet-layout-2 p{
    margin: 0;
    flex: 1 1 auto;
    overflow-y: auto;
    background: #ffffff;
    font-size: 1.25rem;
    line-height: 1.4;
}

.wallet-layout-3{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(5, 1fr);
    margin-top: 300px;
    font-family: 'KoPub Dotum', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 160%;
    column-gap: 25px;
    row-gap: 25px;
    aspect-ratio: 4.3 / 3; /* 원하는 비율로 */
    width: 100%;
    background: #ffffff;
    position: relative;
    overflow: hidden;
}

.wallet-layout-3 img{
    width: 100%;
    height: 100%;
}

.wallet-layout-3 p{
    margin: 0;
    flex: 1 1 auto;
    overflow-y: auto;
    background: #ffffff;
    font-size: 1.25rem;
    line-height: 1.4;
}

.wallet-layout-4{
    display: flex;
    margin-top: 300px;
    font-family: 'KoPub Dotum', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 160%;
    column-gap: 25px;
    aspect-ratio: 5 / 3; /* 원하는 비율로 */
    width: 80%;
    background: #ffffff;
    position: relative;
    overflow: hidden;
}

.wallet-layout-4 img{
    width: 50%;
}

.wallet-layout-4 p{
    margin: 0;
    width: 50%;
    flex: 1 1 auto;
    overflow-y: auto;
    background: #ffffff;
    font-size: 1.25rem;
    line-height: 1.4;
}

.wallet-layout-5{
    margin: auto;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(2, 1fr);
    margin-top: 300px;
    font-family: 'KoPub Dotum', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 160%;
    column-gap: 25px;
    row-gap: 25px;
    aspect-ratio: 4 / 3; /* 원하는 비율로 */
    width: 100%;
    background: #ffffff;
    position: relative;
    overflow: hidden;
}

.wallet-layout-5 img{
    width: 100%;
    height: 100%;
}

.wallet-layout-5 p{
    margin: 0;
    flex: 1 1 auto;
    overflow-y: auto;
    background: #ffffff;
    font-size: 1.25rem;
    line-height: 1.4;
}

.wallet-layout-6{
    display: flex;
    margin-top: 300px;
    font-family: 'KoPub Dotum', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 160%;
    column-gap: 25px;
    aspect-ratio: 7 / 3; /* 원하는 비율로 */
    width: 100%;
    background: #ffffff;
    position: relative;
    overflow: hidden;
}

.wallet-layout-6 img{
    width: 50%;
}

.wallet-layout-6 p{
    margin: 0;
    text-align: right;
    flex: 1 1 auto;
    overflow-y: auto;
    background: #ffffff;
    font-size: 1.25rem;
    line-height: 1.4;
}

.wallet-layout-7{
    margin-top: 300px;
    display: flex;
    justify-content: center;
}

.wallet-layout-7 img{
    width: 60%;
}

.wallet-top-sub p:hover{
    opacity: 50%;
    transition: 1s;
}

.wallet-main::selection{
    background-color: rgb(255, 252, 174);
}

.wallet-main{
    margin: 90px;
}

  @media (max-width: 1900px) and (min-width: 481px){
    .wallet-scroll{
      border: 3px black dotted; /* 원하는 border 스타일 */
      border-bottom: none;
      padding: 2px;
      font-size: 1rem;
      transition: 1.5s ease;
      display: inline-block;   /* 텍스트 너비만큼 줄이려면 필요 */
      width: fit-content;
      margin: initial;
    }
    .wallet-main{
        margin: 0;
    }
  }

  @media (max-width: 1000px) and (min-width: 481px){
    .wallet-top-title p{
        font-size: 10rem;
        transition: 1s;
    }
    .wallet-top-sub p{
        font-size: 1.5rem;
        transition: 1s;
    }
  }
/* 모바일 반응형 */
  @media (max-width: 480px) {
    .wallet-top-title p{
        font-size: 4.5rem;
        border-width: 5px;
    }
    .wallet-top-sub p{
        font-size: 1rem;
    }
    .wallet-thumbnail{
        margin-bottom: 70px;
    }
    .wallet-layout-1, .wallet-layout-2, .wallet-layout-3, .wallet-layout-4, .wallet-layout-5, .wallet-layout-6{
        all: unset;
    }
    .wallet-layout-1 img, .wallet-layout-2 img, .wallet-layout-3 img, .wallet-layout-4 img, .wallet-layout-5 img, .wallet-layout-6 img{
        width: 100%;
        margin-top: 40px;
    } 
    .wallet-layout-1 p, .wallet-layout-2 p, .wallet-layout-3 p, .wallet-layout-4 p, .wallet-layout-5 p, .wallet-layout-6 p{
        all: unset;
    }
    .wallet-main{
        margin: 0;
        line-height: 40px;
    }
    .wallet-scroll{
        border-bottom: 3px rgb(170, 170, 170) solid;
        
    }
        
  }